<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>edu.sdp.com.client.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerBookServlet</display-name>
    <servlet-name>ManagerBookServlet</servlet-name>
    <servlet-class>edu.sdp.com.manager.servlet.ManagerBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerBookServlet</servlet-name>
    <url-pattern>/ManagerBookServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ManagerLoginFilter</display-name>
    <filter-name>ManagerLoginFilter</filter-name>
    <filter-class>edu.sdp.com.manager.filter.ManagerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerLoginFilter</filter-name>
    <url-pattern>/pages/manager/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>edu.sdp.com.client.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>edu.sdp.com.client.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>edu.sdp.com.client.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TransactionFilter</display-name>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>edu.sdp.com.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>OrderFilter</display-name>
    <filter-name>OrderFilter</filter-name>
    <filter-class>edu.sdp.com.client.filter.OrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OrderFilter</filter-name>
    <url-pattern>/OrderServlet</url-pattern>
  </filter-mapping>
</web-app>